<div class="hero">
    <nav>
        <h2 class="logo">
            Dev <span>In Agro</span>
        </h2>
        <ul class="">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre nós</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
        <a href="#" class="btn">Login</a>
    </nav>
    <div class="content">
        <h4>Olá mundo!</h4>
        <h1>Somos a Dev In Agro</h1>
        <p>Apaixonados por inovação</p>
    </div>
</div>

<!------------- Sobre nós Section  --------->

<section class="about">
    <div class="main">
        <img src="/assets/img/pexels-balázs-benjamin-872483.jpg">
        <div class="about-text">
            <h2>Sobre nós</h2>
            <h5>Tecnologia <span>& Agronegócio</span></h5>
            <p>Somos uma startUp que desenvolve negócios utilizando como base a tecnologia</p>
            <button type="button">Entre em contato</button>
        </div>
    </div>
</section>